<%= form_for @firm, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :financial_year, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :financial_year, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :academic_year, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :academic_year, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :service_tax_applicable, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :service_tax_applicable, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :service_tax_rate, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :service_tax_rate, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :service_tax_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :service_tax_number, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  firms_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
<%= simple_form_for @firm do |f| %>
  <div class="row">
    <%= errors_for @firm %>
    <div class="col-md-6">
    <%= f.input :name %>
    <%= f.input :financial_year %>
    <%= f.input :academic_year %>
    <%= f.input :service_tax_applicable , :as => :check_box%>
    <%= f.input :service_tax_rate %>
    <%= f.input :service_tax_number %>
    </div>
    <div class="col-md-6">
    <%= f.input :date_of_birth ,as: :date_picker, :label => 'Date Of Birth',
                  input_html: {data: {date_options: {defaultDate: '01/01/1997'}}}  %>
    <%= f.label :address %>
    <%= f.simple_fields_for :address do |ff| %>
     <%= render 'addresses/address_field', f: ff %>
    <% end %>
    <%= f.button :submit %>
    </div>
  </div>
<% end %>