<%= simple_form_for @student do |f| %>
  <div class="row">
    <%= errors_for @student %>
    <div class="col-md-6">
    <%= f.input :name %>
    <%= f.input :roll_no %>
    <%= f.input :gender , :as => :radio_buttons%>
    <%= f.input :school %>
    <%= f.input :phone_1 %>
    <%= f.input :phone_2 %>
    </div>
    <div class="col-md-6">
    <%= f.input :date_of_birth ,as: :date_picker, :label => 'Date Of Birth',
                  input_html: {data: {date_options: {defaultDate: '01/01/1997'}}}  %>
    <%= f.label :address %>
    <%= f.input :line_1 %>
    <%= f.input :line_2 %>
    <%= f.input :city %>
    <%= f.input :country, as: :country, priority: ["India"] %>
    <%= f.button :submit %>
    </div>
  </div>
<% end %>